.content {
    background-color: #00000031;
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.add {
    display: flex;
}

.form {
    display: flex;
}


.add .image {
    margin-right: 20px;
}

input[type='file'] {
    display: none;
}

label {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.239);
    cursor: pointer;
    display: block;
    border-radius: 10px;
}

label:hover {
    background-color: rgba(255, 255, 255, 0.507);
}

.image #preview {
    display: none;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}


.add-photos {
    margin: auto 0;
}

.specificator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.character {
    margin-right: 20px;
}

.input textarea {
    width: 172px;
    resize: vertical;
}

.button button {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color: #ffffff;

    border: #FFFFFF solid 2px;
    border-radius: 5px;
}

.button button:hover {
    color: #404040;
    background-color: #9a9a9a;
}