.content {
    display: flex;
    align-items: flex-start;
    background-color: #00000031;
    padding: 20px;
}

.sidebar {
    width: 8%;
    border-right: #FFFFFF solid 1px;
    padding-right: 5px;
    line-height: 25px;
    margin-right: 20px;
}

.category {
    text-align: right;
    margin-right: 10px;
}

.publics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.public {
    width: 70%;
    border:#FFFFFF solid 4px;
    border-radius: 10px;
    padding: 20px;

    margin: 10px;
    margin-left: 0;
    margin-bottom: 0;
}

.public img {
    width: 100%;
}