<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="chapter">
                <img src="res/logo.png" alt="">
            </div>
            <div class="chapter">
                <a href="/pavilion">главная</a>
            </div>
            <div class="chapter">
                <a href="">контакты</a>
            </div>
            <div class="chapter">
                <a href="">о нас</a>
            </div>
            <div class="profile">
                <div class="info">
                    <div class="my-profile">
                        <a href="/profile">Мой профиль</a>
                    </div>
                    <div class="add">
                        <a href="/add">Добавить товар</a>
                    </div>
                </div>
                <div class="avatar">
                    <img src="res/olesya.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="intellijence">
                <div class="title">
                    <h2>Olesya</h2>
                </div>
                <div class="about">
                    <div class="avatar">
                        <img src="res/olesya.jpg" alt="">
                    </div>
                    <div class="character">
                        <div>Имя: Олеся</div>
                        <div>Фамилия: Евстигнеева</div>
                        <div>Возраст: 34</div>
                        <div>Статус: продавец</div>
                        <div>Телефон: +7 (953) 363-76-70</div>
                        <div>E-mail: lesyaevstigneeva@gmail.ru</div>
                        <div>Telegramm: @lesyaevstigneeva</div>
                    </div>
                </div>
            </div>
            <div class="publics">
                <div class="public">
                    <img src="res/drivingself.jpg" alt="">
                    <h3>Самоед</h3>
                    <p>4</p>
                    <p>Либо сам едет, либо себя ест.</p>
                </div>
                <div class="public">
                    <img src="res/drivingself.jpg" alt="">
                    <h3>Самоед</h3>
                    <p>4</p>
                    <p>Либо сам едет, либо себя ест.</p>
                </div>
                <div class="public">
                    <img src="res/drivingself.jpg" alt="">
                    <h3>Самоед</h3>
                    <p>4</p>
                    <p>Либо сам едет, либо себя ест.</p>
                </div>
                <div class="public">
                    <img src="res/drivingself.jpg" alt="">
                    <h3>Самоед</h3>
                    <p>4</p>
                    <p>Либо сам едет, либо себя ест.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="half">
                <div class="chapter">
                    +7 (931) 325-64-13
                </div>
                <div>
                    george2066@yandex.ru
                </div>
            </div>
            <div class="half">
                <div class="chapter">
                    @BAGRODIONOV
                </div>
            </div>
        </div>
    </div>
</body>
</html>